<%
    currentPath = currentPath || '/';
%>
<nav class="p-4 space-y-1">
    
    <%- include('_menu_item', { 
        href: '/', 
        icon: 'fas fa-home', 
        text: 'Dashboard',
        currentPath: currentPath 
    }) %>

    <%- include('_menu_dropdown', {
        prefix: '/time-tracking',
        icon: 'fa-solid fa-clock',
        text: 'Zeiterfassung',
        currentPath: currentPath,
        subitems: [
            include('_menu_item', { 
                href: '/time-tracking/stamping', 
                icon: 'fa-solid fa-stamp', 
                text: 'Stempeln',
                currentPath: currentPath
            }),

            include('_menu_item', { 
                href: '/time-tracking/stamping-overview', 
                icon: 'fa-solid fa-calendar', 
                text: 'Monatsübersicht',
                currentPath: currentPath 
            })
        ]
    }) 
    %>
    
    <%- include('_menu_item', { 
        href: '/task-list', 
        icon: 'fa-solid fa-list-check', 
        text: 'Aufgaben',
        currentPath: currentPath 
    }) %>
    
    <%- include('_menu_item', { 
        href: '/user/list', 
        icon: 'fa-solid fa-user', 
        text: 'Nutzerliste', 
        currentPath: currentPath 
    }) %>
    
    <!-- <%- include('_menu_item', { 
        href: '/settings', 
        icon: 'fas fa-gear', 
        text: 'Einstellungen',
        currentPath: currentPath 
    }) %> -->
</nav>