<%
    currentPath = currentPath || '/';
    // user wird automatisch aus res.locals bereitgestellt (siehe app.js)
%>
<nav class="p-4 space-y-1">
    
    <%- include('_menu_item', { 
        href: '/', 
        icon: 'fas fa-home', 
        text: 'Dashboard',
        currentPath: currentPath,
        user: user
        // roles: undefined bedeutet: f端r alle sichtbar
    }) %>

    <%- include('_menu_dropdown', {
        prefix: '/time-tracking',
        icon: 'fa-solid fa-clock',
        text: 'Zeiterfassung',
        currentPath: currentPath,
        user: user,
        // roles: undefined bedeutet: f端r alle sichtbar
        subitems: [
            include('_menu_item', { 
                href: '/time-tracking/stamping', 
                icon: 'fa-solid fa-stamp', 
                text: 'Stempeln',
                currentPath: currentPath,
                user: user
            }),

            include('_menu_item', { 
                href: '/time-tracking/stamping-overview', 
                icon: 'fa-solid fa-calendar', 
                text: 'Monats端bersicht',
                currentPath: currentPath,
                user: user,
                roles: 'admin'
            })
        ]
    }) 
    %>
    

    <%- include('_menu_dropdown', {
        prefix: '/task',
        icon: 'fa-solid fa-bars-progress',
        text: 'Aufgaben',
        currentPath: currentPath,
        user: user,
        // roles: undefined bedeutet: f端r alle sichtbar
        subitems: [
            include('_menu_item', { 
                href: '/task/task-list', 
                icon: 'fa-solid fa-chart-bar', 
                text: 'Aufgabenplan',
                currentPath: currentPath,
                user: user
            }),

            include('_menu_item', { 
                href: '/task/task-backlog', 
                icon: 'fa-solid fa-list-check', 
                text: 'Alle Aufgaben',
                currentPath: currentPath,
                user: user
            })
        ]
    }) 
    %>

    <%- include('_menu_item', { 
        href: '/user/list', 
        icon: 'fa-solid fa-user', 
        text: 'Nutzerliste', 
        currentPath: currentPath,
        user: user,
        // roles: 'admin'
    }) %>

    <%- include('_menu_dropdown', {
        prefix: '/reports',
        icon: 'fa-solid fa-file-medical',
        text: 'Reports',
        currentPath: currentPath,
        user: user,
        subitems: [
            include('_menu_item', {
                href: '/reports/create',
                icon: 'fa-solid fa-plus',
                text: 'Report erstellen',
                currentPath: currentPath,
                user: user
            }),
            include('_menu_item', {
                href: '/reports/my',
                icon: 'fa-solid fa-folder',
                text: 'Meine Reports',
                currentPath: currentPath,
                user: user
            }),
            include('_menu_item', {
                href: '/reports/admin',
                icon: 'fa-solid fa-calendar-days',
                text: 'Kalender',
                currentPath: currentPath,
                user: user,
                roles: 'admin'
            })
        ]
    }) %>
    
    <!-- <%- include('_menu_item', { 
        href: '/settings', 
        icon: 'fas fa-gear', 
        text: 'Einstellungen',
        currentPath: currentPath 
    }) %> -->
</nav>