<%
    currentPath = currentPath || '/';
    // user wird automatisch aus res.locals bereitgestellt (siehe app.js)
%>
<nav class="p-4 space-y-1">
    
    <%- include('_menu_item', { 
        href: '/', 
        icon: 'fas fa-home', 
        text: 'Dashboard',
        currentPath: currentPath,
        user: user
        // roles: undefined bedeutet: für alle sichtbar
    }) %>

        <%- include('_menu_item', { 
        href: '/profile', 
        icon: 'fa-solid fa-user-circle', 
        text: 'Profil', 
        currentPath: currentPath,
        user: user
    }) %>

    <%- include('_menu_dropdown', {
        prefix: '/time-tracking',
        icon: 'fa-solid fa-clock',
        text: 'Zeiterfassung',
        currentPath: currentPath,
        user: user,
        // roles: undefined bedeutet: für alle sichtbar
        subitems: [
            include('_menu_item', { 
                href: '/time-tracking/stamping', 
                icon: 'fa-solid fa-stamp', 
                text: 'Stempeln',
                currentPath: currentPath,
                user: user
            }),

            include('_menu_item', { 
                href: '/time-tracking/stamping-overview', 
                icon: 'fa-solid fa-calendar', 
                text: 'Monatsübersicht',
                currentPath: currentPath,
                user: user,
                roles: 'admin'
            })
        ]
    }) 
    %>
    
    <%- include('_menu_dropdown', {
        prefix: '/task',
        icon: 'fa-solid fa-bars-progress',
        text: 'Aufgaben',
        currentPath: currentPath,
        user: user,
        subitems: [
            include('_menu_item', { 
                href: '/task/task-list', 
                icon: 'fa-solid fa-list-check', 
                text: 'Aufgabenliste',
                currentPath: currentPath,
                user: user
            }),
            include('_menu_item', { 
                href: '/task/templates', 
                icon: 'fa-solid fa-file-lines', 
                text: 'Vorlagen',
                currentPath: currentPath,
                user: user,
                roles: 'admin'
            })
        ]
    }) %>

    <%- include('_menu_dropdown', {
        prefix: '/reports',
        icon: 'fa-solid fa-umbrella-beach',
        text: 'Meldungen',
        currentPath: currentPath,
        user: user,
        subitems: [
            include('_menu_item', {
                href: '/reports/my',
                icon: 'fa-solid fa-user',
                text: 'Meine Meldungen',
                currentPath: currentPath,
                user: user
            }),
            include('_menu_item', {
                href: '/reports/admin',
                icon: 'fa-solid fa-calendar-days',
                text: 'Meldungs-Kalender',
                currentPath: currentPath,
                user: user,
                roles: 'admin'
            })
        ]
    }) %>

    <%- include('_menu_item', { 
        href: '/user/list', 
        icon: 'fa-solid fa-user', 
        text: 'Nutzerliste', 
        currentPath: currentPath,
        user: user,
        // roles: 'admin'
    }) %>
    
    <!-- <%- include('_menu_item', { 
        href: '/settings', 
        icon: 'fas fa-gear', 
        text: 'Einstellungen',
        currentPath: currentPath 
    }) %> -->
</nav>